mysql:
  build: ./mysql
  environment:
    - MYSQL_ROOT_PASSWORD={{ lookup('env', 'MYSQL_ROOT_PASSWORD') }}
    - MYSQL_USER={{ lookup('env', 'MYSQL_USER') }}
    - MYSQL_PASSWORD={{ lookup('env', 'MYSQL_PASSWORD') }}
    - MYSQL_DATABASE={{ lookup('env', 'MYSQL_DATABASE') }}
  mem_limit: 128m

data:
  #image: debian:jessie
  {% if edit|bool %}
  volumes:
    - /var/www/html/{{ site_name }}:/var/www/html/{{ site_name}}
  {% endif %}
  build: ./data

php:
  build: ./php
  volumes_from:
    - data
  links:
    - mysql:db

backend:
  build: ./backend
  volumes_from:
    - data
  links:
    - php:php
  ports:
    - "8001:80"

varnish:
  build: ./varnish
  environment:
    CACHE_SIZE: 64m
  ports:
    - "8000:80"
  links:
    - backend:backend

frontend:
  build: ./frontend
  ports:
    - "80:80"
    - "443:443"
  links:
    - varnish:varnish
